img {
  float: left;
  height: 125px;
  padding: 20px;
  text-align: center
}

.row {
  float: left;

}


.sidebar {
  width: 30%;
  float: right;
  color: red;
  border: 2px solid red;
  padding: 15px;
  background-color: gray;

}